:root {
  --Cream: #eae2b7;
  --Navy: #003049;
  --Red: #D62828;
  --Orange: #F77F00;
  --Yellow: #FCBF49;
}
  



body {
  background-color: var(--Cream);
  margin: 0;
}

.Header-image {
  background-color: var(--Navy);
  padding: 10px;
  margin: 0;
}

h1 {
  font-size: 50px;
  width: 100%;
  background-color: var(--Navy);
  color: var(--Cream);
  text-align: center;
  padding: 2px;
  margin: 0;
}

h2 {
    color: var(--Navy);
    text-align: center;
}


.Navigation {
  display: flex;
  justify-content: center;
}

.Links {
  text-align: left;
  display: flex;
  font-size: 30px;
  gap: 150px;
  list-style-type: none;
}

.Links a {
  text-decoration: none;
  color: var(--Cream);
  background-color: var(--Navy);
  padding: 10px 20px;
  border-radius: 75px 75px;
}

.Profile-block {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.Welcome-heading {
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
}

.Profile-photo {
  width: 450px;
  border-radius: 25%
}

.about-me {
    font-size: 34px;
    text-align: center;
    color: var(--Navy);
}

.Acessibility-link {
  text-align: left;
  font-size: 24px;
  margin-left: 5%;
  padding-top: 50px;
} 
.Acessibility-link a {
  text-decoration: none;
}
