:root {
  --Cream: #eae2b7;
  --Navy: #003049;
}
  



body {
  background-color: var(--Cream);
}

h1 {
  background-color: var(--Navy);
  color: var(--Cream);
  align-items: center;
}

h2 {
    color: var(--Navy);
}





td { 
  padding: 50px 5px; 
}
